*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.head{ 
    background: url('../images/header_jpg.jpg') no-repeat center center /cover;
    height: 600px;
   
} 
header nav{
    max-width: 1170px;
    margin: auto;
}

header .menu_title .nav_top .logo{
    color: #67686d;
    font-size: 23px;
    font-weight: 400;
}
header .menu_title .nav_top{
    display: flex;
    justify-content:space-between ;
    border-bottom: 1px solid #eeeeee;
    padding: 23px 0;
}
header .menu_title .nav_top .nav_adres{
    display: flex;
    justify-content: space-between;
}

header .menu_title .nav_top .contact{
    display: flex;
    align-items: center;
}
.fa-phone-alt{
    padding-right: 10px;
}
header .menu_title .nav_top .contact .number{
    color: #7e7f84;
    font-size: 15px;
    font-weight: 700;
    padding-right: 20px;
    cursor: pointer;
}
.far{
    padding-right: 8px;
}
header .menu_title .nav_top .contact .email{
    color: #7e7f84;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 140px;
    cursor: pointer;
}
.fa-shopping-cart{
    padding-right: 23px;
    color: #7e7f84;
}
header .menu_title .nav_top .nav_adres .price{
   border: 2px solid #eeeeee; 
   padding: 8px 8px;
   display: flex;
   align-items: center;
   transition: .4s;
}
header .menu_title .nav_top .nav_adres .price:hover{
    background-color: #f39486;
    color: white;
}

 header .menu_title nav .nav_bottom ul{
     display: flex;
 }
 header .menu_title nav .nav_bottom ul li{
     padding:15px 40px 15px 0;
 }
 .fa-search{
     padding-right: 6px;
 }
 header .menu_title nav .nav_bottom ul li a{
     color: #7e7f84;
     font-weight: 500;
     font-size: 14px;
     transition: .5s;
 }
 header .menu_title nav .nav_bottom ul li a.active,
 header .menu_title nav .nav_bottom ul li a:hover{
     color: #f56954;
     
 }

 header .head .container{
    max-width: 1170px;
    margin: auto;
}
header .head .container h1{
    padding-top: 170px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 25px;
    
}
header .head .container p{
    color: #c7c8c8;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 28px;
}
header .head .container .btn{
    border: none;
    background-color: #f56954;
    color: white;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 14px;
    transition: .4s;
    cursor: pointer;
}
header .head .container .btn:hover{
    background-color:#fc4322;
    color: #eeeeee;
}
/* =====Main start==== */
 
main{
    margin: 65px 0;
}
main .about{
    max-width: 1170px;
    margin: auto;
}
main .about .main_top{
    display: flex;
    justify-content: space-between;
}
main .about .main_top .main_top_box{
    width: 370px;
}
main .about .main_top .main_top_box img{
  max-width: 100%;  
}
main .about .main_top .main_top_box .box h2 {
    padding: 25px 0;
    font-weight: 500;
    font-size: 23px;
    transition: .4s;
}
main .about .main_top .main_top_box .box h2 a{
   color: #f45a40;
}
main .about .main_top .main_top_box .box h2 a:hover{
    text-decoration: underline;
}
main .about .main_top .main_top_box .box p{
    font-weight: 400;
    font-size: 14px;
    color: #7e7f84;
}
main .about .main_bottom{
    margin-top: 65px;
   width: 1170px;
}
main .about .main_bottom .main_bottom_box{
    display: flex;
    justify-content: space-between;
}
main .about .main_bottom h2{
    padding-bottom: 43px;
    text-align: center;
    font-weight: 400;
    font-size: 23px;
    color: #67686d;
}
main .about .main_bottom .main_bottom_box .bottom_box h3{
    padding: 17px 0 12px 20px;
    font-size: 18px;
    font-weight: 700;
    color: #67686d;
    text-transform: uppercase;
}
main .about .main_bottom .main_bottom_box .bottom_box h5 {
    padding-left:20px;
    font-size: 14px;
    color: #67686d;
    font-weight: 300;
    text-transform: uppercase;
    font-style: italic;
}
main .about .main_bottom .main_bottom_box .bottom_box p{
    padding:11px 20px;
    font-size: 12px;
    font-weight: 400;
    color: #67686d;
    
}
main .about .main_bottom .main_bottom_box .bottom_box{
    border: 2px solid #eeeeee;
    width: 272px;
}
main .about .main_bottom .main_bottom_box .bottom_box .line{
  padding-left: 20px;
}
main .about .main_bottom .main_bottom_box .bottom_box .bottom_price{
    display: flex;
    justify-content: space-between;
}
main .about .main_bottom .main_bottom_box .bottom_box .bottom_price ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    color: #7e7f84;
}
main .about .main_bottom .main_bottom_box .bottom_box .bottom_price p{
    color: #f45a40;
    font-weight: 500;
    font-size: 15px;
}